<div class="container flex flex-col justify-center items-center">
  <div class="p-10 xl:mt-10">
    <h1 class="text-center text-2xl">DIVISOR</h1>
  </div>

  <div class="flex flex-col rounded-t-xl p-5 bg-white xl:w-4xl xl:flex-row xl:gap-20">
    <div>
      <h4 class="mb-3">Conta</h4>
      <div class="relative">
        <img class="w-3 left-2 top-3 absolute" src="icon-dollar.svg" alt="">
        <input [(ngModel)]="valorConta" (input)="calcularGorjeta()"
          class="cursor-pointer w-80 text-end p-2 mb-5 rounded-lg xl:w-96" pattern="[0-9]*" inputmode="numeric" type="number" placeholder="0">
      </div>

      <h4 class="col-span-2 mx-0 mb-3">Selecione a porcentagem %</h4>
      '<ul class="grid grid-cols-2 gap-8 mx-auto text-center mb-4 font-extrabold xl:grid-cols-3 xl:gap-7">

        <li *ngFor="let percent of porcentagens" (click)="selecionarPorcentagem(percent)"
          class="cursor-pointer w-36 p-3 rounded-lg active:scale-90 xl:w-28">
          {{ percent }}%
        </li>

        <input [(ngModel)]="gorjetaPercentual" (input)="calcularGorjeta()"
          class="cursor-pointer w-36 p-3 rounded-lg text-center xl:w-28" type="number" placeholder="Custom" pattern="[0-9]*" inputmode="numeric">

      </ul>

      <h4 class="mb-3">Numero de pessoas</h4>
      <div class="relative">
        <img class="w-3 left-2 top-3 absolute" src="icon-person.svg" alt="">
        <input [(ngModel)]="numPessoas" (input)="calcularGorjeta()" class="w-80 text-end p-2 mb-5 rounded-lg xl:w-96"
          type="number" placeholder="0" min="1" pattern="[0-9]*" inputmode="numeric">
      </div>
    </div>

    <div id="container_valor_calculado" class="border rounded-lg p-5 xl:w-1/2 ">
      <div class="flex justify-between mb-10">
        <div>
          <h4 class="text-white">Valor da gorjeta</h4>
          <p class="text-gray-400">/ pessoa</p>
        </div>
        <span>{{ gorjetaPorPessoa | currency:'BRL' }}</span>
      </div>

      <div class="flex justify-between mb-10">
        <div>
          <h4 class="text-white">Total</h4>
          <p class="text-gray-400">/ pessoa</p>
        </div>
        <span>{{ totalPorPessoa | currency:'BRL' }}</span>
      </div>

      <button (click)="reset()"
        class="block cursor-pointer reset w-72 border p-3 rounded-lg uppercase font-bold active:scale-95 xl:mt-32 xl:w-80 xl:mx-auto">
        Reset
      </button>
    </div>
  </div>
</div>